.login-container {
  max-width: 430px;
  margin: 50px auto 70px;
  .login-head {
    text-align: center;
    margin-bottom: 50px;
    h1 {
      font-size: 44px;
      color: #1f1d0d;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      color: #1f1d0d;
      font-size: 17px;
      font-weight: 500;
      a {
        color: #0d6efd;
      }
    }
  }
}

.login-signup-form-box {
  background-color: white;
  padding: 55px;
  border-radius: 8px;
  border: 1px solid #1f1d0d;
  box-shadow: 2px 2px 30px rgba(31,29,13,.12), 10px 10px 0 0 #1f1d0d;
  .form-control {
    height: 55px;
    border: 1px solid #1f1d0d;
    background-color: white;
  }
  .forgot-password-text {
    margin-bottom: 30px;
    text-align: right;
    a {
      color: #0d6efd;
      font-size: 15px;
    }
  }
  .primary-btn {
    background-color: #1f1d0d;
    border: 1px solid #1f1d0d;
    height: 58px;
    border-radius: 8px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    &.signup {
      margin-bottom: 40px;
    }
  }
  .bottom-text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    a {
      color: #0d6efd;
    }
  }
}

.login-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  li {
    margin: 0 5px;
    a {
      background-color: #ffd32b;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1f1d0d;
    }
  }
}